.about-me {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-h2,
.about-me-p {
  padding: 1rem;
  text-align: center;
}

.about-me-h2 {
  text-transform: uppercase;
}

.about-me-foto {
  border-radius: 50%;
  width: calc(20em + 1vw);
}

.knowledge {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.knowledge-circle {
  color: white;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
}

.about-me:before {
  display: block;
  content: ' ';
  margin-top: -51px;
  height: 51px;
  visibility: hidden;
}

@media all and (min-width: 768px) {
  .about-me {
    flex-direction: row;
  }

  .about-me-p {
    text-align: center;
    font-size: 1.5rem;
  }

  .about-me-foto {
    align-self: flex-start;
  }
}
