.hidden {
  display: none;
}

.card-left {
  margin-bottom: 5px;
  animation-name: cardOne;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  width: fit-content;
}

.card-left-div {
  opacity: 0.7;
  border-left: 8px solid rgba(255, 121, 72, 1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@keyframes cardTwo {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(-50vw);
  }
}
