.main-proyects-container {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  padding-top: 51px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.main-proyects-title {
  font-size: x-large;
  width: 20vw;
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}

@media all and (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
