.poster {
  background: no-repeat center var(--gradient-background);
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.poster-h1 {
  font-size: calc(4em + 1vw);
}

.poster-h2 {
  font-size: calc(2em + 1vw);
}
