.poster {
  background: no-repeat center var(--gradient-background);
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.poster-h1 {
  font-size: calc(4em + 1vw);
}

.poster-h2 {
  font-size: calc(2em + 1vw);
}
.startArrow {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  animation: vertical 2.5s infinite;
}

@keyframes vertical {
  0% {
    top: 70vh;
  }
  50% {
    top: 75vh;
  }
  100% {
    top: 70vh;
  }
}
