.hidden {
  display: none;
}

.card-right {
  margin-bottom: 5px;
  animation-name: cardTwo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.card-riht-div {
  opacity: 0.7;
  border-right: 8px solid rgba(255, 121, 72, 1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@keyframes cardOne {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(calc(50vw - 23px));
  }
}
